.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  min-height: 80vh;
  width: 80vw;
}

@media only screen and (max-width: 960px) {
  .content {
    width: 95vw;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    min-height: 90vh;
  }
}
