@import "variables";

.base {
  align-items: center;
  background-color: $blue;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 250px;

  &:hover {
    background-color: $blue;
  }
}

.text {
  color: $offWhite;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 24px;
}

@media only screen and (max-width: 960px) {
  .base {
    padding: 12px;
  }
  .image {
    height: 1rem;
  }
  .text {
    font-size: 1.1rem;
  }
}
