@import "variables";

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.heroTextContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  min-width: 300px;
}

.heroTitle {
  color: $offBlack;
  font-size: 6rem;
  line-height: 1.15;
  margin: 0;
}

.heroSubtitle {
  color: $offBlack;
  font-size: 1.3rem;
  margin-top: 2.8rem;
}

.lottieContainer {
  flex: 1;
  min-height: 350px;
  max-width: 450px;
  min-width: 320px;
  overflow: visible;
}
