.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.heroTextContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  min-width: 300px;
}

.heroTitle {
  font-size: 4rem;
  line-height: 1.15;
}

.lottieContainer {
  flex: 1;
  height: 350px;
  max-width: 450px;
  min-width: 320px;
}

.ctaContainer {
  align-items: center;
  display: flex;
  margin-top: 24px;
}
