.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  width: 80vw;
}

@media only screen and (max-width: 960px) {
  .content {
    width: 95vw;
    padding: 0 20px;
  }
}
