@import "variables";

.section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.listContainer {
  flex: 2;
  padding: 0 16px 0 0;
  justify-content: space-between;
  max-width: 450px;
  min-width: 320px;
}

.li {
  margin-bottom: 16px;
}

.linksContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 60px 16px 0 32px;

  max-width: 450px;
  min-width: 320px;
}

.linkButton {
  align-items: center;
  background-color: $brown;
  color: $white;
  border-radius: 20px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 16px;
  width: 200px;

  &:hover {
    background-color: $blue;
  }
}
