@import "variables";

.container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 6rem;
  width: 80vw;
}

.linksContainer {
  align-items: center;
  display: flex;
}

.logo {
  color: $brown;
  font-size: 2rem;
  font-weight: 800;

  &:hover {
    color: $blue;
    border-bottom: solid;
    border-bottom-color: $offBlack;
    border-bottom-width: 5px;
  }
}

.linksText {
  color: $offBlack;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 32px;

  &:hover {
    color: $blue;
  }
}

.linksButton {
  background-color: $brown;
  padding: 16px;
  border-radius: 20px;
  color: $whiteShadow;

  &:hover {
    background-color: $blue;
    color: $offWhite;
  }
}

.brownBlueShadow {
  box-shadow: 9px 10px 11px -2px rgba(163, 89, 64, 0.36);
  -webkit-box-shadow: 9px 10px 11px -2px rgba(163, 89, 64, 0.36);
  -moz-box-shadow: 9px 10px 11px -2px rgba(163, 89, 64, 0.36);

  &:hover {
    box-shadow: 9px 10px 11px -2px rgba(30, 150, 252, 0.36);
    -webkit-box-shadow: 9px 10px 11px -2px rgba(30, 150, 252, 0.36);
    -moz-box-shadow: 9px 10px 11px -2px rgba(30, 150, 252, 0.36);
  }
}

@media only screen and (max-width: 960px) {
  .container {
    margin-bottom: 3rem;
    width: 95vw;
  }
  .linksText {
    font-size: 1.2rem;
    margin-right: 20px;
  }
  .linksButton {
    padding: 12px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin-bottom: 0rem;
  }
}
