@import "variables";

.heroMargin {
  height: 10rem;
}
.section {
  align-items: center;
  background-color: $brown;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.sectionLeft {
  flex: 1;
  margin-right: 2rem;
}

.sectionTitle {
  color: $offWhite;
}

.sectionSubtitle {
  color: $whiteShadow;
}

.sectionRight {
  min-width: 200px;
}

.footerMargin {
  height: 4rem;
}

@media only screen and (max-width: 960px) {
  .heroMargin {
    height: 4rem;
  }
  .section {
    padding: 12px;
    margin-bottom: 2rem;
  }
  .sectionLeft {
    min-width: 400px;
  }
  .sectionSubtitle {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .sectionLeft {
    min-width: 300px;
  }
}
